<div class="block">
  <h1>Files</h1>
  <p>
    Is a simple solution to host your files.
  </p>
  <% if admin? %>
    <div style="float:left; margin-right: 50px; margin-bottom:35px;">
      <%= erb :upload %>
    </div>
     <% if @files %>
      <table class="pure-table pure-table-horizontal" style="width:100%">
          <thead>
            <th>Link</th>
            <th>Counter</th>
            <th>Extension</th>
            <th>User / Pass</th>
          </thead>
          <% for file in @files %>
            <tr>
              <td><a href="/<%= file.url %>"><%= file.fileName %></a></td>
              <td><%= file.counter %></td>
              <td><%= File.extname(file.filePath) %></td>
              <% if (file.user != "" && file.pass != "") %>
                <td><%= file.user %> / <%= file.pass %></td>
              <% else %>
                <td>public</td>
              <% end %>
            </tr>
          <% end %>
      </table>
    <% end %>
  <% end %> 
</div>